quarkus:
  datasource:
    db-kind: postgresql
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    jdbc:
      url: jdbc:postgresql://prod-db:5432/chiroerp
  hibernate-orm:
    database:
      generation: validate
